<footer class="sidebar-footer">
	{{ partial "social.html" . }}

	{{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
	<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"></script>
	
	<div class="sidebar-footer-links">
		<a href="{{ .Site.RSSLink }}" target="_blank" rel="noopener" type="application/rss+xml" class="footer-link">RSS</a>
		<span class="footer-divider">•</span>
		<a href="/archives" class="footer-link">Archives</a>
	</div>
</footer>
