<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension="woff"/>
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
            <remove fileExtension="woff2"/>
            <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".svg"/>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <mimeMap fileExtension=".ogm" mimeType="video/ogv" />
            <mimeMap fileExtension=".gpx" mimeType="application/gpx" />
         </staticContent>
    </system.webServer>
</configuration>